<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Blog Posts</h1>
        <a href="{% url 'post_new' %}">Click to add post</a>
        {% for post in posts %}
            <div class="post">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><em>by {{ post.author }} on {{ post.created_at }}</em></p>
                <a href="{% url 'post_edit' pk=post.pk %}">Click to Edit post</a>
                <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
